<ion-header>
  <ion-toolbar>
    <button ion-button 
      icon-only 
      tappable
      slot="left"
      routerLink="/home"
      class="back_button">
        <ion-icon name="arrow-back"
          class="back_arrow"></ion-icon>
    </button>
    <ion-title slot="center">{{itemName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <div *ngIf="!description"
        class="center">
        <ion-spinner name="lines"></ion-spinner>
      </div>
        <ion-card-header *ngIf="description">
          <b>Wikipedia Description</b>
        </ion-card-header>
        <ion-card-content>
          <div [innerHTML]="description"></div>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="wikiMediaCategory">
          <ion-card-content>
          Category: {{wikiMediaCategory}}
          </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
            <p>Wikipedia page for <a href="{{wikipediaLink}}">{{itemName}}</a></p>
            <p><a href="{{yourBiasLink}}">YourBias link</a></p>
        </ion-card-content>
      </ion-card>

</ion-content>
