.back_arrow {
    font-size: 1.5em !important;
}
.back_button {
    background-color: transparent;
    position: relative;
    top: 2px;
}
.spinner {
    margin: auto;
    width: 50%;
    position: relative;
    left: 9%;
    margin-top: 2em;
    margin-bottom: 2em;
}