.back_arrow {
    font-size: 1.5em !important;
}
.back_button {
    background-color: transparent;
    position: relative;
    top: 2px;
}
.legendMargin {
    margin: 5px;
}
.ion-list__defaultItem {
    list-style-type: none;
    color: green;
}
.list__both {
    color: black;
}
.list__text-wikimedia {
    color: LightSalmon;
}

