<ion-header>
  <ion-toolbar>
    <ion-title>
      List of Cognitive Bias <span *ngIf="list">{{list.length}}</span> <span class="version_text">version: {{version}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  	<ion-list no-lines>
      	<ion-item-sliding *ngFor="let item of list">
					<div *ngIf="item.sortName">
					<ion-item slot="start"
						tappable 
						routerLink="/detail/{{ item.sortName }}" 
						routerDirection="forward"
						detail="true">
						<span>{{ item.sortName }}</span>
					</ion-item> 
					<ion-item-options slot="left">
						<div *ngIf="item.cognitive_biasDescription">
							{{ item.cognitive_biasDescription }}</div>
						<div *ngIf="item.wikiMedia_description">
							{{ item.wikiMedia_description }}</div>
					</ion-item-options>
				</div>
    	</ion-item-sliding>
  	</ion-list>
</ion-content>
