.small_arrow {
    font-size: 1em;
}
.optionsIcon {
    position: absolute;
    right: 6%;
    font-size: 1.7em;
    color: lightgray;
}
ion-item-options {
    background-color: bisque;
}
.version_text {
    font-size: 0.4em;
}

.list__text::first-letter {
    text-transform: capitalize;
}
.ion-list__defaultItem {
    list-style-type: none;
    color: green;
}
.list__both {
    color: black;
}
.list__text-wikimedia {
    color: teal;
}
.list__item--viewed {
    opacity: 0.5;
}
.shortDescription {
    min-height: fit-content;
    padding: 10px;
    flex-grow: 4;
}
