/*--- option page styles ---*/
.back_arrow {
    font-size: 1.5em !important;
}
.back_button {
    background-color: transparent;
    position: relative;
    top: 2px;
}
.legendMargin {
    margin: 5px;
}
.ion-list__defaultItem {
    list-style-type: none;
    color: green;
}
.list__both {
    color: black;
}
.list__text-wikimedia {
    color: LightSalmon;
}

/*--- detail page styles ---*/
.back_arrow {
    font-size: 1.5em !important;
}
.turn_off {
    visibility: hidden !important;
}
.back_button {
    background-color: transparent;
    border: none;
    outline: none;
}
.spinner {
    margin: auto;
    width: 50%;
    position: relative;
    left: 9%;
    margin-top: 2em;
    margin-bottom: 2em;
}

/*--- list page styles -----*/
.small_arrow {
    font-size: 1em;
}
.optionsIcon {
    position: absolute;
    right: 6%;
    top: 15px;
    font-size: 1.7em;
    color: lightgray;
    border: none;
    outline: none;
}
.refreshIcon {
    position: relative;
    left: -15px;
    top: 4px;
}
.refeshList__button{
    color: gray;
}
ion-item-options {
    background-color: bisque;
}
.version_text {
    font-size: 0.6em;
    position: relative;
    left: 83%;
}

.list__text::first-letter {
    text-transform: uppercase;
}
    
.ion-list__defaultItem {
    list-style-type: none;
    color: green;
}
.list__both {
    color: black;
}
.list__text-wikimedia {
    color: LightSalmon;
}
.list__item--viewed {
    opacity: 0.5;
}
.shortDescription {
    margin-top: -5px;

    /* styles for '...' */    
    padding: 9px;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em; 
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;  
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
    
    /* create the ... */
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.shortDescription:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}
ion-icon {
    outline: none;
}
.center {
    margin: auto;
    width: 50%;
    position: relative;
    left: 25%;
}
