<ion-header>
  <ion-toolbar color="medium">
    <ion-title slot="start">
		<span *ngIf="list">{{list.length}}</span> 
			Cognitive Biases 
	</ion-title>
		<!-- <span class="version_text">version: {{version}}</span> -->
	<ion-icon name="settings" 
		slot="end"
		class="optionsIcon"
		routerLink="/options" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-spinner *ngIf="!list" 
		name="lines"
		class="center"></ion-spinner>
	<ion-list no-lines class="list">
		<ion-item-sliding *ngFor="let item of list; let i = index">
			<div *ngIf="item.sortName">
				<ion-item slot="start"
					(click)="setStateViewed(i)"
					tappable 
					(click)="navigateAction(item.sortName, i)"
					routerDirection="forward"
					detail="true">
					<div *ngIf="item">
						<span class="ion-list__defaultItem"
							[ngClass]="{
								'list__both': item.cognitive_biasLabel && item.wikiMedia_label, 
								'list__text-wikimedia': !item.cognitive_biasLabel,
								'list__item--viewed': item.detailState ==='viewed'}">
							<span class="list__text" 
								*ngIf="item.cognitive_biasLabel">{{item.cognitive_biasLabel}}</span>
							<span class="list__text" 
								*ngIf="!item.cognitive_biasLabel">{{item.wikiMedia_label}}</span>
						</span>
					</div>
				</ion-item> 
				<ion-item-options padding-start
					(ionSwipe)="viewShortDescription(item)"
					*ngIf="item.wikiMedia_description"
					#itemSliding
					slot="left"
					class="shortDescription">
					<div *ngIf="item.wikiMedia_description">
						{{ item.wikiMedia_description }}</div>
				</ion-item-options>
			</div>
		</ion-item-sliding>
	</ion-list>
</ion-content>
