<ion-header>
  	<ion-toolbar color="medium">
		<div *ngIf="view === 'list'">
			<ion-title slot="start">
				<span *ngIf="list">{{list.length}}</span> 
					Cognitive Biases 
			</ion-title>
				<!-- <span class="version_text">version: {{version}}</span> -->
			<ion-icon name="settings" 
				slot="end"
				class="optionsIcon"
				(click)="gotoOptions()" ></ion-icon>
		</div>
		<div *ngIf="view === 'detail'">
			<button ion-button 
				icon-only 
				tappable
				slot="left"
				(click)="backToList()"
				class="back_button">
				  <ion-icon name="arrow-back"
					class="back_arrow"></ion-icon>
			  </button>
			  <ion-title slot="center" class="detail_title">{{officialTitle}}</ion-title>
		</div>
		<div *ngIf="view === 'options'">
				<button ion-button 
				icon-only 
				tappable
				slot="left"
				(click)="goBack()"
				class="back_button">
				  <ion-icon name="arrow-back"
					class="back_arrow"></ion-icon>
			  </button>
			  <ion-title slot="start"
			  	class="detail_title">
					  Options
			  </ion-title>
			  <span class="version_text">version: {{version}}</span>
		</div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div *ngIf="view === 'list'">
		<ion-spinner *ngIf="!list" 
			name="lines"
			class="center"></ion-spinner>
		<ion-list no-lines class="list">
			<ion-item-sliding *ngFor="let item of list; let i = index">
				<div *ngIf="item.sortName">
					<ion-item slot="start"
						(click)="setStateViewed(i)"
						tappable 
						(click)="navigateAction(item.sortName, i)"
						routerDirection="forward"
						detail="true">
						<div *ngIf="item">
							<span class="ion-list__defaultItem"
								[ngClass]="{
									'list__both': item.cognitive_biasLabel && item.wikiMedia_label, 
									'list__text-wikimedia': !item.cognitive_biasLabel,
									'list__item--viewed': item.detailState ==='viewed'}">
								<span class="list__text" 
									*ngIf="item.cognitive_biasLabel">{{item.cognitive_biasLabel}}</span>
								<span class="list__text" 
									*ngIf="!item.cognitive_biasLabel">{{item.wikiMedia_label}}</span>
							</span>
						</div>
					</ion-item> 
					<ion-item-options padding-start
						(ionSwipe)="viewShortDescription(item)"
						*ngIf="item.wikiMedia_description"
						#itemSliding
						slot="left"
						class="shortDescription">
						<div *ngIf="item.wikiMedia_description">
							{{ item.wikiMedia_description }}</div>
					</ion-item-options>
				</div>
			</ion-item-sliding>
		</ion-list>
	</div>

	<div *ngIf="view === 'detail'">
		<ion-card>
			<ion-card-header>
				<b>Wikipedia description <span *ngIf="description === null"> loading ...</span></b>
				</ion-card-header>
				<ion-card-content>
					<div *ngIf="description === null"
						class="spinner">
						<ion-spinner name="lines"></ion-spinner>
					</div>
					<div *ngIf="description" 
						(click)="descriptionOnClick()"
						#descriptionhook 
						[innerHTML]="description">
					</div>
			</ion-card-content>
		</ion-card>
		<ion-card *ngIf="wikiMediaCategory">
			<ion-card-content>
				Category: {{wikiMediaCategory}}
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-content>
				<p>Wikipedia page for <a href="{{wikipediaLink}}">{{itemName}}</a></p>
			</ion-card-content>
		</ion-card>
    </div>
    
	<div *ngIf="view === 'options'">
		<ion-item>
			<ion-label>Refresh list</ion-label>
			<ion-label>
				<p>Warning: this will clear the item states.</p>
			</ion-label>
				<ion-button (click)="refreshList()"
					color="secondary"
                    class="refeshList__button">Refresh now</ion-button> 
		</ion-item>
				
		<ion-item>
			<ion-label style="color:black">Language</ion-label>
			<ion-select [interfaceOptions]="customPopoverOptions" 
				interface="popover" 
				placeholder="Select One"
				[ngModel]="langChoice"
				(ngModelChange)="changeLang($event)">
				<ion-select-option *ngFor="let item of languages"
				value="{{item.lang}}">{{item.name}}</ion-select-option>
			</ion-select>
		</ion-item>
	
		<ion-item style="margin-top: 10px;">
			<ion-label>Legend</ion-label>
			<ion-list>
				<div class="legendMargin ion-list__defaultItem">WikiData items</div>
				<div class="legendMargin list__text-wikimedia">WikiMedia items</div>
				<div class="legendMarginlist__both">Items on both lists</div>
			</ion-list>
		</ion-item>
	</div>
</ion-content>
